* {
    box-sizing: border-box;
}

h1{
    font-family: Oswald, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #182828;
}

h2{
    font: 400 32px Futura, sans-serif;
    color: #182828;
}

/* Header */

header{
    display: fixed;
}
.headcont {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: -webkit-fill-available;
    margin-left: 24px;
    margin-right: 24px;
}

header .name{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Futura;
    font-size: 32px;
}

header .name img{
    height: 60px;
}

#col{
    color: #182828;
}

#aca{
    color: #c5bbc5;
}

header ul{
    display: inline-flex;
}
header li{
    color: #182828;
    opacity: .8;
    font-family: Futura;
    font-size: 32px;
    margin: 0 0 0 16px;
}

.latin{
    background-color: #BBC5C5;
}

.latincontainer{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}

.latinimg{
    width: 60%;
}

.latin img{
    width: 100%;
    height: auto;
    padding: 32px 24px;
}

.latinwords{
    display: inline-flex;
    flex-direction: column;
}

.lat{
    margin: 0 0 2rem 0;
}

#button{
    background-color: #4f2f4f;
    padding: 8px 0;
    text-align: center;
    color: #BBC5C5;
}